html {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    background-color: #26A69A;
    color: yellow;
}

body, html {
	height: 100%;
	margin: 0;
}

body {
	background-image: url("../image/background-user.jpg");
	background-position: center center;
	background-repeat:  no-repeat;
	background-attachment: fixed;
	background-size:  cover;
}

#clock {
	background-color:rgba(0, 0, 0, 0.2);
	display: inline;
	font-size: 60px;
	border-style: solid;
	border-color: #E91E63;
	border-radius: 8px;
	margin-top: 15px;
	padding: 5px 5% 5px 5%;
	/*margin-top: 10px;*/
	box-sizing: border-box;
}

#date {
	display: inline-block;
	font-size: 50px;
	border-style: solid;
	border-color: #E91E63;
	border-radius: 8px;
	padding: 5px 5% 5px 5%;
	box-sizing: border-box;
	margin: 5px;
}